{% extends "base.html.twig" %}

{% block title %} Movies Page {% endblock %}

{% block body %}

    {% if movies %}

        {% for movie in movies %}
            <div>
                <img src="{{ movie.imagePath }}" alt="{{ movie.title }}" width="300px">
                <aside>
                    <h3>{{ movie.title }}</h3>
                    <p>{{ movie.description }}</p>
                    <small> release : {{ movie.releaseYear}}</small>
                </aside>
                <a href="movies/{{ movie.id}}">voir</a>
            </div>
        {% endfor %}
        
    {% else %}
        <h3>No movies to show</h3>
    {% endif %}

{% endblock %}